---
title: QuickBooks Commerce Developer Portal

primary_cards:
  - name:  Ecommerce Integration Guide
    blurb: Build a sales channel integration with QuickBooks Commerce. Sync orders and products from your online stores and marketplaces.
    url: /guides/sales.html
  - name: Fulfillment Service Integration Guide
    blurb: Integrate QuickBooks Commerce with a fulfilment service to streamline your 3PL management and shipping workflows.
    url: /guides/3pl.html
  - name: Warehouse Management Integration Guide
    blurb: Sync inventory levels between your Warehouse Management System and QuickBooks Commerce.
    url: /guides/warehouse.html

secondary_cards:
  - name: Comprehensive API Docs
    blurb: Build exactly what you need with our modern APIs and webhooks.
    url: /docs.html
    cta: Explore API Docs
  - name: Detailed Guides and Tutorials
    blurb: QuickBooks Commerce's thorough use cases provide step-by-step instructions to build integrations quickly and easily.
    url: /docs.html#guides
    cta: Explore guides
  - name: Knowledge and Support
    blurb: Detailed articles and getting started modules covering all areas of the QuickBooks Commerce product.
    url: https://support.tradegecko.com
    cta: Learn more

search: true
home: true
---
<div class="index-page">
  <div class="row index-page__section cta-section">
    <div class="col-12">
        <%= partial "includes/home_cta" %>
    </div>
  </div>

  <div class="row index-page__section">
    <div class="card-list">
      <% current_page.data.primary_cards.each do |study| %>
        <div class="study-card">
          <div class="study-blurb">
            <h4><%=study.name%></h4>
            <p><%=study.blurb%></p>
            <a href="<%=study.url%>" class="plain-link card__sticky-button" >
              Read More
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row index-page__section">
    <h2> Start building with QuickBooks Commerce API in minutes</h2>
  </div>

  <div class="row index-page__section">
    <div class="card-list">
      <% current_page.data.secondary_cards.each do |study| %>
        <div class="study-card secondary-card">
          <div class="study-blurb">
            <h4 class="study-card__title"><%=study.name%></h4>
            <p><%=study.blurb%></p>
            <a href="<%= study.url %>" class="plain-link card__sticky-button" >
              <%= study.cta %> <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
